docs/docs/
docs/site/
libs/build/
projects/*
!projects/example/
projects/example/*.nc
projects/example/*.tab
src/bands
src/day2doy
src/doy2day
src/extract
src/jurassic.o
src/jsec2time
src/libiasi.o
src/map_pert
src/noise
src/perturbation
src/retrieval
src/spec2tab
src/time2jsec
src/*.gcno
src/*.gcda
src/*.gcov
src/coverage*
tests/data/*.nat
